body,html{
    width: 100%;
    height: 100%;
    margin: 0;
}

body{
    background-image: url(img/cage.jpg);
    background-size: cover;
    

}

.ballon_fleche {
position: absolute;
left: 38%;
top: 70%;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
gap: 2rem;
}



.fleche{
    height: 100%;
    display: flex;
    gap: 5rem;
    justify-content: center;
    
}

.ballon_cage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10rem;
    gap: 12rem;
 
}

.ballon_cage>div {
    z-index: 1;
}
.ballon{
    width: 5rem;
}

.flechegauche{
    width: 5rem;
}


.flechedroite{
    width: 5rem;
}

.flechecentre{
    width: 5rem;
}

.gardien_centre{
    position: absolute;
    left: 43%;
    top:35% ;
    width: 15rem;
}
.gardien_gauche{
    position: absolute;
    width: 15rem;
    top:25%;
    left: 30%;
}
.gardien_droite{
    position: absolute;
    width: 17rem;
    top:27%;
    left: 57%;
}
.gardin{
    z-index: 1;
}
.NomJoueur{
    display: flex;
    justify-content: space-between;
    color: white;
    margin-left: 8rem;
    margin-right: 8rem;
    font-size: xx-large;
    
}
.Score{
    display: flex;
    justify-content: end;
    margin-right: 8rem;
    font-size: xx-large;
    color: white;
    margin-top: -4rem ;
    
}
.NomJoueur>p{
    background-color: rgba(255, 0, 0, 0.39);
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
}
.Score>p{
    background-color: rgba(255, 0, 0, 0.39);
    padding: 20px;
    padding-left: 32px;
    border-radius: 0px 0px 10px 10px;
    
    
}
.flechegauche:hover{
    opacity: 0.7;
    cursor: pointer;
}


.flechedroite:hover{
    opacity: 0.7;
    cursor: pointer;
}

.flechecentre:hover{
    opacity: 0.7;
    cursor: pointer;
}